:root {
/* Color styles */
--dark--blue--footer: rgba(3, 20, 41, 1);
--dark--blue--text: rgba(15, 0, 49, 1);
--blue: rgba(2, 37, 192, 1);
--white--text: rgba(255, 255, 255, 1);
--grey--text: rgba(195, 195, 192, 1);
--light--blue--card: rgba(239, 244, 255, 1);
--light--blue--background: rgba(243, 248, 254, 1);
--grey--image--caption:rgba(119,119,119,1);

/* Text-size styles */
--project--name-32-px: 32px;
--project--name-28-px: 28px;
--heading-2: 16px;
--heading-3: 12px;
--body--artciles: 18px;
--b-u-t-t-o-n: 12px;
--body--card: 11px;
--card--title: 16px;
--small--text: 13px;
--heading-1: 24px;
--text: 16px;

  /* Polices de caractère */
  --font-mono: 'Space Mono', monospace;
  --font-sans-serif: 'Poppins', sans-serif;
  --font-logo: 'Gochi Hand';
  --font-serif: 'EB Garamond', 'serif';


  /* Font variantes */
  --letter-spacing: 0.05em;

  /* Espaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 48px;
  --space5x: 80px;
  --space6x: 150px;
}


