.music__lyrics{
 font-family: var(--font-sans-serif);
 font-weight: 300;
 font-style: italic;
 font-size: var(--small--text);
}

.music__spotify{
    margin-top: 25px;
    width: 100%;
    border: 0;
    height: auto;
}